@model IEnumerable<Client_Tracker_MVC.Models.IClient>

<img src="~/Images/Logo.png" id="logo" />
@{
    if (@Model.Any())
    {
        <table class="table">
            <tr>
                <th>
                    Client
                </th>
                <th>
                    Meds Requested
                </th>
                <th>
                    Meds Request Paid
                </th>
                <th>
                    Meds Received
                </th>
                <th>
                    Modified Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                var daysSinceUpdated = (DateTime.Now - DateTime.Parse(item.ModifiedDate));

                if (daysSinceUpdated.TotalDays > 14)
                {
                    <tr style="background-color:#ffe0e0">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedsRequested)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedsRequestPaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedsReceived)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

                else if (daysSinceUpdated.TotalDays > 7)
                {
                    <tr style="background-color:#e4e4e4">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedsRequested)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedsRequestPaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedsReceived)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedsRequested)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedsRequestPaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedsReceived)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        </table>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    else
    {
        <p>You have no clients!  Your business must totally be going well. Perhaps you would like to @Html.ActionLink("add one", "Create")?</p>
    }
}